.header { 
    display: grid; 
    grid-template-areas: 
    "header-logo header-title" 
    "header-nav header-nav" 
    ;
    grid-template-columns: auto 1fr; 
    background-color: var(--header-bg)
    }
    
.header__nav { 
    grid-area: header-nav; 
    /* background-color: skyblue;  */
}
 
/* .skiplink {
    position: absolute;
    left: -100%;
    color: black;
    background-color: blanchedalmond;
  }
  

  .skiplink:focus {
    left: 50%;
  }
   */

   

header__theme-switcher{
  grid-area: theme-switcher;
}

